name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macOS-latest, windows-latest, ubuntu-latest]
        node: [10, 12, 14]

    name: Node ${{ matrix.node }} on ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@master

    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node }}

    - name: Install dependencies
      run: yarn install

    - name: Build
      run: yarn build

    - name: Test
      run: yarn test
